<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="jhipsterApp">
 
<p>Ficha de jugador</p>

<p>Nombre: <input type="text" ng-model="name"></p>
<p>Nombre Introducido: {{name}}</p>

<p>Nacimiento: <input type="text" ng-model="birthday"></p>
<p>Nacimiento Introducido: {{birthday}}</p>

<p>Puntos: <input type="number" ng-model="score"></p>
<p>Puntos Introducidos: {{score}}</p>

<p>Rebotes: <input type="number" ng-model="rebounds"></p>
<p>Rebotes Introducidos: {{rebounds}}</p>

<p>Asistencias: <input type="number" ng-model="assist"></p>
<p>Asistencias Introducidas: {{assist}}</p>

<p>Posicion: <input type="text" ng-model="position"></p>
<p>Posicion Introducida: {{position}}</p>

</div>

</body>
</html>
